[submodule "Submodules/RioWebsite"]
	path = Submodules/RioWebsite
	url = git@github.com:Soliver098/Rio-Website.git
	branch = production
[submodule "Submodules/RioStyle"]
	path = Submodules/RioStyle
	url = git@github.com:Soliver098/Rio-Style.git
	branch = production
[submodule "Submodules/RioMonitorAPI"]
	path = Submodules/RioMonitorAPI
	url = git@github.com:Soliver098/Rio-Monitor-API.git
	branch = production
[submodule "Submodules/RioTranslationAPI"]
	path = Submodules/RioTranslationAPI
	url = git@github.com:Soliver098/Rio-Translation-API.git
	branch = production
